.container_offer {
    height: 68vh;
    max-width: 80vw;
    padding-top: 16px;
    margin-left: 330px;
    margin-right: 65px;
    border-radius: 10px;
    background-color: var(--bg-color-12);
}

.offer_text {
    margin: 24px;
}

.offer_text #welcome {
    color: var(--font-color);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer_text .navegar {
    color: var(--font-color);
    font-size: 24px;
    font-weight: 700;
}

.offer_playlist_scroll {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer_playlist_list img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

.offer_playlist_list .offer_playlist_grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 16px;
    gap: 16px;
    margin: 0 auto;
}

.cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    padding: 16px;
    position: absolute;
    color: var(--font-color);
    font-size: 24px;
    font-weight: 700;
}

.card1 {
    background-color: var(--card1);
}

.card2 {
    background-color: var(--card2);
}

.card3 {
    background-color: var(--card3);
}

.card4 {
    background-color: var(--card4);
}

.card5 {
    background-color: var(--card5);
}

.card6 {
    background-color: var(--card6);
}

.card7 {
    background-color: var(--card7);
}

.card8 {
    background-color: var(--card8);
}

.card9 {
    background-color: var(--card9);
}

.card10 {
    background-color: var(--card10);
}

.card11 {
    background-color: var(--card11);
}

.card12 {
    background-color: var(--card12);
}

.card13 {
    background-color: var(--card13);
}

.card14 {
    background-color: var(--card14);
}

.card15 {
    background-color: var(--card15);
}

.artist {
    column-count: var(--column-count);
    grid-gap: var(--grid-gap);
    min-width: var(--min-container-width);
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }